{% extends "layout.html" %}

{% block content %}

<!-- based on template from sample Heroku PHP app. Thanks for the nice styles! -->

<div class="jumbotron text-center">
  <div class="container">
    
    <h1>sweet</h1>
    
  </div>
</div>
<div class="container">
 
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> sweet - tweets from {{ screenname }} </h3>
      
        {% for tweet in tweets %}
        <p> <img src="{{ tweet.user.profile_image_url}}" title="@{{ tweet.user.screen_name }}" /> {{ tweet.text }} <br /> 
        Retweeted: <strong>x</strong> {{ tweet.retweet_count }} </p>
        {% endfor %}
     
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> @see </h3>
      <ul>
        <li><a href="https://github.com/jsheth7/sweet">sweet source (github)</a></li>
        <li><a href="https://www.heroku.com/home">Heroku</a></li>
      
      </ul>
    </div>
  </div> <!-- row -->
  
</div>

{% endblock %}